<font color=purple > _**Emily Nordhoff - 2022**_ </font>

### Contents:
    1. Importing libraries and data
    2. Data exploration
    3. Cleaning
        3.1 remove unnecessary columns
        3.2 mixed-data types
        3.3 outliers
        3.4 missing values
        3.5 duplicates
    4. Export

# Cleaning MLB ballparks data

## 1. Importing libraries and data

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
path = r'/Users/Emily/Documents/CF Data Analysis Program/Immersion 6/Hits Analysis/'

In [3]:
df = pd.read_excel(os.path.join(path, '02 data', 'original data', 'mlb_ballparks.xlsx'), index_col = False)

## 2. Data exploration

In [4]:
df.shape

(30, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      30 non-null     object
 1   Capacity                  30 non-null     int64
 2   Location                  30 non-null     object
 3   Surface                   30 non-null     object
 4   Team                      30 non-null     object
 5   Opened                    30 non-null     int64
 6   Distance to center field  30 non-null     int64
 7   Roof type                 30 non-null     object
 8   Team abbrev               30 non-null     object
dtypes: int64(3), object(6)
memory usage: 2.2+ KB

In [6]:
df

,Name,Capacity,Location,Surface,Team,Opened,Distance to center field,Roof type,Team abbrev
0,Chase Field,48405,"Phoenix, Arizona",Artificial turf,Arizona Diamondbacks,1998,407,Retractable,ARI
1,Truist Park,41084,"Cumberland, Georgia",Grass,Atlanta Braves,2017,400,Open,ATL
2,Oriole Park at Camden Yards,45971,"Baltimore, Maryland",Grass,Baltimore Orioles,1992,410,Open,BAL
3,Fenway Park,37755,"Boston, Massachusetts",Grass,Boston Red Sox,1912,390,Open,BOS
4,Wrigley Field,41649,"Chicago, Illinois",Grass,Chicago Cubs,1914,400,Open,CHC
5,Guaranteed Rate Field,40615,"Chicago, Illinois",Grass,Chicago White Sox,1991,400,Open,CWS
6,Great American Ball Park,42319,"Cincinnati, Ohio",Grass,Cincinnati Reds,2003,404,Open,CIN
7,Progressive Field,34830,"Cleveland, Ohio",Grass,Cleveland Guardians,1994,410,Open,CLE
8,Coors Field,50144,"Denver, Colorado",Grass,Colorado Rockies,1995,415,Open,COL
9,Comerica Park,41083,"Detroit, Michigan",Grass,Detroit Tigers,2000,420,Open,DET
10,Minute Maid Park,41168,"Houston, Texas",Grass,Houston Astros,2000,409,Retractable,HOU
11,Kauffman Stadium,37903,"Kansas City, Missouri",Grass,Kansas City Royals,1973,410,Open,KC
12,Angel Stadium,45517,"Anaheim, California",Grass,Los Angeles Angels,1966,396,Open,LAA
13,Dodger Stadium,56000,"Los Angeles, California",Grass,Los Angeles Dodgers,1962,395,Open,LAD
14,LoanDepot Park,36742,"Miami, Florida",Artificial turf,Miami Marlins,2012,407,Retractable,MIA
15,American Family Field,41900,"Milwaukee, Wisconsin",Grass,Milwaukee Brewers,2001,400,Retractable,MIL
16,Target Field,38544,"Minneapolis, Minnesota",Grass,Minnesota Twins,2010,404,Open,MIN
17,Citi Field,41922,"Queens, New York",Grass,New York Mets,2009,408,Open,NYM
18,Yankee Stadium,46537,"Bronx, New York",Grass,New York Yankees,2009,408,Open,NYY
19,RingCentral Coliseum,46847,"Oakland, California",Grass,Oakland Athletics,1966,400,Open,OAK
20,Citizens Bank Park,42792,"Philadelphia, Pennsylvania",Grass,Philadelphia Phillies,2004,401,Open,PHI
21,PNC Park,38747,"Pittsburgh, Pennsylvania",Grass,Pittsburgh Pirates,2001,399,Open,PIT
22,Petco Park,40209,"San Diego, California",Grass,San Diego Padres,2004,396,Open,SD
23,Oracle Park,41265,"San Francisco, California",Grass,San Francisco Giants,2000,391,Open,SF
24,T-Mobile Park,47929,"Seattle, Washington",Grass,Seattle Mariners,1999,401,Retractable,SEA
25,Busch Stadium,45494,"St. Louis, Missouri",Grass,St. Louis Cardinals,2006,400,Open,STL
26,Tropicana Field,25000,"St. Petersburg, Florida",Artificial turf,Tampa Bay Rays,1990,404,Open,TB
27,Globe Life Field,40300,"Arlington, Texas",Artificial turf,Texas Rangers,2020,407,Retractable,TEX
28,Rogers Centre,49286,"Toronto, Ontario",Artificial turf,Toronto Blue Jays,1989,400,Retractable,TOR
29,Nationals Park,41339,"Washington, D.C.",Grass,Washington Nationals,2008,402,Open,WSH

## 3. Cleaning

### 3.1 Remove unnecessary columns

In [ ]:
# None to remove!

### 3.2 Mixed data types

In [7]:
# Check for mixed-type data
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

In [ ]:
# No mixed type data!

### 3.3 Outliers

In [8]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Name,30,30,Chase Field,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Capacity,30.0,NaN,NaN,NaN,42309.866667,5604.036093,25000.0,40231.75,41494.0,45857.5,56000.0
Location,30,29,"Chicago, Illinois",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Surface,30,2,Grass,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Team,30,30,Arizona Diamondbacks,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Opened,30.0,NaN,NaN,NaN,1991.5,25.682075,1912.0,1990.25,2000.0,2005.5,2020.0
Distance to center field,30.0,NaN,NaN,NaN,403.133333,6.642254,390.0,400.0,401.5,407.75,420.0
Roof type,30,2,Open,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Team abbrev,30,30,ARI,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Not very interesting because it's mostly qualitative info

### 3.4 Missing values

In [10]:
df.isnull().sum()

Name                        0
Capacity                    0
Location                    0
Surface                     0
Team                        0
Opened                      0
Distance to center field    0
Roof type                   0
Team abbrev                 0
dtype: int64

In [ ]:
# No missing info!

### 3.5 Duplicates

In [11]:
df[df.duplicated()]

Empty DataFrame
Columns: [Name, Capacity, Location, Surface, Team, Opened, Distance to center field, Roof type, Team abbrev]
Index: []

In [12]:
# No duplicates

## 4. Export

In [13]:
df.to_pickle(os.path.join(path, '02 data', 'prepared data', 'mlb_ballparks_clean.pkl'))